
<html>
  <head><title>{{title}}</title></head>
  <body>

  
  <h2>{{h2}}</h2>
  {% for value in img %}
  <a href="{{ value }}"><img src= "{{ value }}" width="200px"></a>
      
{% endfor %}
  </body>
</html>
 